{% extends 'base.html.twig' %}

{% block title feed.name %}

{% block body %}
    <h2>{{ feed.name }}</h2>
    <h3>Add a pokemon</h3>
    {{ form(form) }}
    <h3>Pokemons</h3>
    {% if pokemons|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Coordinates</th>
                <th>IV</th>
                <th>CP</th>
                <th>Despawn</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <td>#{{ pokemon.pokedexNumber }} {{ pokemon.pokedexNumber|pokedexName }}</td>
                    <td>{{ pokemon.lat }}, {{ pokemon.lng }}</td>
                    <td>{{ pokemon.iv }}</td>
                    <td>{{ pokemon.cp }}</td>
                    <td>{{ pokemon.despawnTime|date }}</td>
                    <td>
                        {% if pokemon.isHidden() %}
                            Hidden
                        {% else %}
                            <a href="{{ path('pokemon_hide', {id: pokemon.id}) }}" class="btn btn-primary hide-pokemon">Hide</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No pokemons yet
    {% endif %}
{% endblock body %}

{% block javascripts %}
    <script>
        function initMagicBox() {
            let magicBoxElement = $('#pokemon_magicBox');
            let latElement = $('#pokemon_lat');
            let lngElement = $('#pokemon_lng');
            let pokemonElement = $('#pokemon_pokedexNumber');
            let ivElement = $('#pokemon_iv');
            let cpElement = $('#pokemon_cp');
            let levelElement = $('#pokemon_level');

            magicBoxElement.on('change', function () {
                const text = magicBoxElement.val();
                const pokedex100Regex = /:  (.*?) :(\d+?):  IV(\d+?) CP(\d+?) L(\d+?) [^"]+\nClick to get coord https:\/\/pokedex100/g;
                const livePokemapDiscordRegex = /: (.*) [♂♀]+  IV(\d+?)% LVL(\d+?) PC(\d+?) Despawn (.*?) [^"]+https:\/\/www\.google\.com\/maps\?q=(.*)%2C(.*)/g;
                const livePokemapRocketRegex = /#(\d+) [\w ()]*- [^"]+\nDisparaît à (.*?) [APM]+ \([\w]+\)\nPosition: (.*), (.*)\nIV: (.*?)% \([\d/]+\)\nPC : (\d+) \| Niveau : (\d+)/g;
                const rocketMapRegex = /#(.*) [♂♀]+ [^"]+ left \((\d+):(\d+)\)[^"]+\n([-\d.]+), ([-\d.]*)/g;
                const coordsRegex = /([-\d.]+)[, ]?([-\d.]*)/g;
                const coordsURLRegex = /([\d.]*)%2C([\d.]*)/g;
                let match;
                let lat;
                let lng;
                let pokemon;
                let IV;
                let CP;
                let level;

                if ((match = pokedex100Regex.exec(text)) !== null && match.length === 6) {
                    pokemon = match[2];
                    IV = match[3];
                    CP = match[4];
                    level = match[5];
                } else if ((match = livePokemapDiscordRegex.exec(text)) !== null && match.length === 8) {
                    IV = match[2];
                    level = match[3];
                    CP = match[4];
                    lat = match[6];
                    lng = match[7];
                } else if ((match = rocketMapRegex.exec(text)) !== null && match.length === 6) {
                    pokemon = match[1];
                    lat = match[4];
                    lng = match[5];
                } else if ((match = livePokemapRocketRegex.exec(text)) !== null && match.length === 8) {
                    pokemon = match[1];
                    lat = match[3];
                    lng = match[4];
                    IV = match[5];
                    CP = match[6];
                    level = match[7];
                } else if ((match = coordsURLRegex.exec(text)) !== null && match.length === 3) {
                    lat = match[1];
                    lng = match[2];
                } else if ((match = coordsRegex.exec(text)) !== null && match.length === 3) {
                    lat = match[1];
                    lng = match[2];
                }

                if (lat) {
                    latElement.val(lat);
                }
                if (lng) {
                    lngElement.val(lng);
                }
                if (pokemon) {
                    pokemonElement.val(pokemon);
                }
                if (IV) {
                    ivElement.val(IV);
                }
                if (CP) {
                    cpElement.val(CP);
                }
                if (level) {
                    levelElement.val(level);
                }
            });
        }

        $(function () {
            initMagicBox();

            $('a.hide-pokemon').on('click', function (event) {
                event.preventDefault();
                let self = $(this);

                fetch(self.attr('href'))
                    .then(function () {
                        self.off('click');
                        self.replaceWith($('<span>Hidden</span>'));
                    });
            })
        });
    </script>
{% endblock javascripts %}
